@import "generales";









* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: blue;
    margin: 20px;
    background-size: 100vw 100vh;
}

img {
    height: 380px;
}

.logo {
    width: 250px;
    border-radius: 50%;
}

ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
    margin-bottom: 0.5em;
    margin-right: 00.5em;
    border-radius: 50%;
    li {
    list-style: none;
    background-color: #eee;
    color: black;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 1em;
    padding: 0.5em;
    line-height: 2;
    display: block;
}



h1 {
    margin-right: 0;
    font-size: larger;
}

h2 {
    margin: 20px;
    font-size: x-large;
    color: darkblue;
}

p {
    height: 60%;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-image: -o-linear-gradient(red, yellow);
}

.card {
    margin: 50px;
    width: 100px;
    max-width: 380px;
    .card-img-top{
        max-width: 380px;

    }
}

.imagen__animada:hover{
    transform: scale(2);
}

.imagen__animada{
    transition: all;
    transition-duration: 2s;
    margin: 20px;
}



br {
    border: 1px solid rgb(42, 12, 216);
}


p {
    margin: 2rem;
    color: blue;
    font-size: medium;
}

strong {
    color: red;
}

.body__formulario{
    background-image: url(../imagenes/mantenimiento\ anual.JPG);
}

footer{
    background-color: aqua;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    