* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


img{
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}


ul {
  list-style: none;
  display: flex;
  align-self: flex-end;
  margin-bottom: 0.5em;
  margin-right: 00.5em;
  border-radius: 50%;
}

ul li {
  list-style: none;
  background-color: #eee;
  color: black;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1.3em;
  padding: 0.5em;
  line-height: 2;
  display: block;
}

h1 {
  margin-right: 0;
}

h2 {
  margin: 20px;
}

p {
  height: 60%;
}

p {
  margin: 2rem;
  color: blue;
  font-size: medium;
}

strong {
  color: red;
}

.form-flex {
  width: 450px;
  margin: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10 px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

footer {
  background-color: aqua;
  padding: 100px;
  margin-bottom: 0;
  margin-top: 450px;
  text-align: center;
}